.header {
    padding: 1rem 0;
    background-color: #ced0d1; 
    border-bottom: 1px solid #e7e7e7; 
    text-align: center;
  
    .container {
      width: 100%;
      max-width: 1140px; 
      margin: 0 auto;
      padding: 0 15px; 
  
      h1 {
        margin: 0;
        color: #333; 
        font-size: 2rem;
      }
    }
  }
  