.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77.5vh;
  
    .profile-page-content {
      display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
  
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
  
        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
  
          label {
            margin-bottom: 5px;
          }
  
          input[type="text"],
          input[type="email"],
          input[type="password"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
        }
  
        button {
          cursor: pointer;
          padding: 10px 15px;
          border: none;
          border-radius: 4px;
          margin-top: 10px;
  
          &.updateInfoButton {
            background-color: blue;
            color: white;
          }
  
          &.updatePasswordButton {
            background-color: green;
            color: white;
          }
        }
      }
    }
  }
  